* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

// main {
//     width: 100%;
// }

// .mt-1 {
//     margin-top: 5px;
// }

// .mt-5 {
//     margin-top: 20px;
// }

// .mb-1 {
//     margin-bottom: 20px;
// }

// .pointer {
//     cursor: pointer;
// }