* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    background-size: cover;
    background-image: url('https://media.discordapp.net/attachments/795392555910561792/796951787382374420/jett-pongsakon-zJgnrwZ6X2Y-unsplash.jpg?width=916&height=687');
    background-repeat: no-repeat;
    color: #19100A;
}


.para_graph {
    font-size: 30px;
    font-weight: bold;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
    padding: 5%;
    padding-top: 10%;
    box-shadow: 10px 5px 5px black;
    text-shadow: 0.125em 0.120em 0.125em black;
}
p {
    text-shadow: 0em 0.120em 0.125em black;
}
