* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    background-size: cover;
    background-image: url('https://media.discordapp.net/attachments/795392555910561792/796955429593939978/360_F_300987115_UEHyPFQx0OYoNf9YBgmDo7j8o2xqPJnj.jpg');
    background-repeat:repeat-y;
    color: #19100A;
}


.para_graph {
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 50px;
    // padding: 5%;
    // padding-top: 10%;
    text-shadow: 0.125em 0.120em 0.125em black;
}
p {
    text-shadow: 0em 0.120em 0.125em black;
}
