<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h2>¿Eres Productor de Cerveza?</h2>
<%= link_to "Inicia Sesión", new_brewery_session_path  %>
<%= link_to "Regístrate", new_brewery_registration_path %>


<h2>¿Eres Comprador de Bagazo?</h2>
<%= link_to "Inicia Sesión", new_client_session_path %>
<%= link_to "Regístrate", new_client_registration_path%>