<div class="container">
    <h2>Acuerdos con <%= @client.name %></h2>

    <% @deals.each do |d| %>
        <%= d.deal_quantity %>
        <%= d.deal_date %>
        <%= d.confirmation %>
    <% end %>
</div>