<div class="container">
    <h1>Cervecerías</h1>
    <% @breweries.each do |brewery| %>
        <ul>
            <li>
                <%= brewery.name %>
                    <%= link_to "New Deal" , new_deal_brewery_id_path(brewery.id) %>

            </li>
        </ul>

        <% end %>
</div>