.btn {
    background-color: transparent;
    border: none;
    color: rgb(210, 193, 193);
    cursor: pointer;
    font-size: 20px;
    padding: 7px 10px 7px 10px;

    transition: color .3s ease;

    &:focus {
        outline: none;
    }
}