.home {
    text-align: center;
    color: white;
    padding-top: 10%;
    padding-bottom: 20%;
}

.row {
    color: white;
    justify-content: space-around;
}

.card {
    background-color: black;
}