.home {
    text-align: center;
    color: white;
    padding-top: 10%;
    padding-bottom: 20%;
}

.row {
    color: white;
    justify-content: space-around;
    margin-top: 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.card {
    background-color: rgb(52, 48, 48);
}