<div class="container">
    <h2>Revisa tus registros de levadura</h2>

    <% @bagasse.each do |b| %>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Fecha de Producción: <%= b.production_date %></h5>
          <p class="card-title">Cantidad Producida: <%= b.quantity %>.</p>
          <p class="card-title">Cepa: <%= b.strain %></p>
        </div>
      </div>
    <% end %>
</div>